body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  display: grid;
  background-color: #012622;
  color: e6cfbb;
  padding: 0.8rem;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 2rem;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  margin: 10px;
  border-radius: 5px;
  font-size: 1rem;
}

nav a:hover {
  background-color: #777;
}

.container {
  padding: 20px;
  text-align: center;
}

img {
  max-width: 100vw;
  object-fit: cover;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  overflow: hidden;
}

.content h1 {
  position: absolute;
  color: 012622;
  font-size: 2rem;
  background: #402d2d78;
  padding: 10px 20px;
  border-radius: 5px;
}

.about_us {
  margin: 5rem 2rem;
}

.about_us p {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 1.5vw;
  text-align: center;
}

.about_us h3 {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  color: #012622;
  font-size: 2vw;
}